<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering>
                <!-- Oculta as pastas de cache e fila do acesso direto HTTP -->
                <hiddenSegments>
                    <add segment="cache" />
                    <add segment="queue" />
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
